<mat-toolbar>
  &nbsp; &nbsp;<mat-progress-bar mode="determinate" value="{{progress}}" color="primary"></mat-progress-bar> &nbsp; &nbsp;
</mat-toolbar>
<agm-map [latitude]="latitude" [longitude]="longitude">
  <agm-marker [latitude]="47.623637" [longitude]="13.840456" (markerClick)="getTale(1 )" iconUrl="https://img.icons8.com/ultraviolet/48/000000/marker.png"></agm-marker>
  <agm-marker [latitude]="47.5944" [longitude]="15" (markerClick)="getTale(2 )" iconUrl="https://img.icons8.com/ultraviolet/48/000000/marker.png"></agm-marker>
  <agm-marker [latitude]="47.420194" [longitude]="13.062638" (markerClick)="getTale(3 )" iconUrl="https://img.icons8.com/ultraviolet/48/000000/marker.png"></agm-marker>

  <agm-marker [latitude]="47" [longitude]="13.840456" (markerClick)="getHistory(1 )" iconUrl="https://img.icons8.com/office/48/000000/marker.png"></agm-marker>
  <agm-marker [latitude]="47.5944" [longitude]="16" (markerClick)="getHistory(2 )" iconUrl="https://img.icons8.com/office/48/000000/marker.png"></agm-marker>
  <agm-marker [latitude]="47.194" [longitude]="13.062638" (markerClick)="getHistory(3 )" iconUrl="https://img.icons8.com/office/48/000000/marker.png"></agm-marker>

  <!-- <agm-marker [latitude]="47.811195" [longitude]="13.033229" (markerClick)="clickedMarker(infowindow)"> <agm-info-window #infowindow>
    <strong>Tale coming soon...</strong>
  </agm-info-window></agm-marker> -->

</agm-map>

