<footer class="footer">
    <div class="container fixed-bottom">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a [routerLink]="['/about-us']">About Us</a></li>
                    <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Edutales
                </span>
            </div>
        </div>
    </div>
</footer>
