
<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/aboutUs.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <form [formGroup]="profileFormGroup" class="register-form">
                        <label>Vorname</label>
                        <div class="input-group form-group-no-border">
                            <input type="text" placeholder="First Name" class="form-control" formControlName="first_name">
                        </div>
                        <label>Nachname</label>
                        <div class="input-group form-group-no-border">
                            <input type="text" class="form-control" placeholder="Last Name" formControlName="last_name">
                        </div>
                        <label>Year of Birth</label>
                        <div class="input-group form-group-no-border">
                            <input type="number" class="form-control" placeholder="Year of Birth" formControlName="year_of_birth">
                        </div>
                        <label>Region</label>
                        <div class="input-group form-group-no-border">
                            <input type="text" class="form-control" placeholder="Region" formControlName="region" >
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 ml-auto mr-auto text-center">
                                <button class="btn btn-outline-default btn-round" [disabled]="!profileFormGroup.valid" (click)="createParent()"><i class="fa fa-cog"></i>
                                    <span *ngIf="!profileFormGroup.controls.id.value">Create</span>
                                    <span *ngIf="profileFormGroup.controls.id.value">Update</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

