<mat-card>
  <mat-card-title>{{rewards.name}}</mat-card-title>
  <br>
  <mat-card-title>Dein Photo:</mat-card-title>
  <br>
  <img *ngFor="let pic of pictures" src="/api/media/{{pic}}" height="200" alt="">
  <br>
  <br>
  <mat-card-title>Dein Märchen:</mat-card-title>
  <mat-card><h3 >{{taleTitle}}</h3><br>{{taleText}}</mat-card>
  <br>
  <br>
  <mat-card-title>Deine Geschichte:</mat-card-title>
  <mat-card><h3 >{{historyTitle}}</h3><br>{{historyText}}</mat-card>
  <br>
  <br>
  <button mat-flat-button color="accent" (click)="downloadPdf()">Exportiere deine Auszeichnung als PDF</button><br><br><br>
  <mat-card-subtitle>Oder du druckst die Seite mit der überaus gut implementieren Browser-Druck-Funktion ;)</mat-card-subtitle>
  <button mat-flat-button color="primary" (click)="print()">Drucken</button>
  <div id="content" #content>
    <h1>{{rewards.name}}</h1>
    <br><br>
    <h2>{{taleTitle}}:</h2>
    <br>
    <p>{{taleText}}</p>
    <h2>{{historyTitle}}:</h2>
    <p>{{historyText}}</p>
  </div>
</mat-card>
