<form [formGroup]="historyFormGroup" class="history-form">
  <mat-form-field>
    <input matInput type="text" placeholder="Title" formControlName="title">
    <mat-hint align="end">Der Titel Geschichte</mat-hint>
    <mat-error *ngIf="historyFormGroup.controls.title.hasError('required')">Der Titel ist notwendig</mat-error>
    <mat-error *ngIf="historyFormGroup.controls.title.hasError('badWord')">Enhält ein Schimpfwort!</mat-error>
    <mat-error *ngIf="historyFormGroup.controls.title.hasError('historyAlreadyExists')">Den Titel gibt es bereits!</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput type="text" placeholder="Text" formControlName="text"></textarea>
    <mat-hint align="end">Der Text der Geschichte</mat-hint>
    <mat-error *ngIf="historyFormGroup.controls.text.hasError('required')">Der Text ist notwendig</mat-error>
    <mat-error *ngIf="historyFormGroup.controls.text.hasError('badWord')">Enhält ein Schimpfwort!</mat-error>
  </mat-form-field>
  <br>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!historyFormGroup.valid" (click)="createHistory()">
      <span *ngIf="!historyFormGroup.controls.id.value">Erstellen</span>
      <span *ngIf="historyFormGroup.controls.id.value">Aktualisieren</span>
    </button>
  </mat-card-actions>
</form>
