<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <img src="assets/img/logo_white_large.png" width="70" height="60">
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://github.com/deliserdsstfu/edutales" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="isHome()">
                    <a [routerLink]="['/about-us']" class="nav-link"><i class="nc-icon nc-book-bookmark"></i>About US</a>
                </li>
                <li class="nav-item" *ngIf="isHome()">
                    <a [routerLink]="['/parent-form']" class="btn btn-danger btn-round">Register</a>
                </li>
                <li class="nav-item" *ngIf="isHome()">
                    <a [routerLink]="['/signup']" class="btn btn-light btn-round">Login</a>
                </li>
                <li class="nav-item" *ngIf="!isHome() && !isLogin() && !isRegister() && !isAboutUs()">
                    <a [routerLink]="['/home']" class="nav-link"><i class="nc-icon nc-compass-05"></i>Home</a>
                </li>
                <li class="nav-item" *ngIf="!isHome() && !isLogin() && !isRegister() && !isAboutUs()">
                    <a [routerLink]="['/user-profile']" class="nav-link"><i class="nc-icon nc-single-02"></i>Profile</a>
                </li>
                <li class="nav-item" *ngIf="isLogin()">
                    <a [routerLink]="['/about-us']" class="nav-link"><i class="nc-icon nc-book-bookmark"></i>About US</a>
                </li>
                <li class="nav-item" *ngIf="isLogin()">
                    <a [routerLink]="['/parent-form']" class="btn btn-danger btn-round">Register</a>
                </li>
                <li class="nav-item" *ngIf="isRegister()">
                    <a [routerLink]="['/about-us']" class="nav-link"><i class="nc-icon nc-book-bookmark"></i>About US</a>
                </li>
                <li class="nav-item" *ngIf="isRegister()">
                    <a [routerLink]="['/signup']" class="btn btn-light btn-round">Login</a>
                </li>
                <li class="nav-item" *ngIf="isAboutUs()">
                    <a [routerLink]="['/parent-form']" class="btn btn-danger btn-round">Register</a>
                </li>
                <li class="nav-item" *ngIf="isAboutUs()">
                    <a [routerLink]="['/signup']" class="btn btn-light btn-round">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
