<form [formGroup]="taleFormGroup" class="tale-form">
  <mat-form-field>
    <input matInput type="text" placeholder="Title" formControlName="title">
    <mat-hint align="end">The Titel der Geschichte</mat-hint>
    <mat-error *ngIf="taleFormGroup.controls.title.hasError('required')">Ein Titel ist notwendig</mat-error>
    <mat-error *ngIf="taleFormGroup.controls.title.hasError('badWord')">Enthält ein Schimpfwort!</mat-error>
    <mat-error *ngIf="taleFormGroup.controls.title.hasError('taleTitleAlreadyExists')">Den Titel gibt es bereits!</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Tale Category" formControlName="type">
      <mat-option [value]="type.key"
                  *ngFor="let type of typeService.opNames | keyvalue">{{type.value}}</mat-option>
    </mat-select>
    <mat-hint align="end">Welchen Spieltyp möchtest du spielen?</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput type="text" placeholder="Text" formControlName="text"></textarea>
    <mat-hint align="end">Der Text der Sage</mat-hint>
    <mat-error *ngIf="taleFormGroup.controls.text.hasError('required')">Text ist notwendig</mat-error>
    <mat-error *ngIf="taleFormGroup.controls.text.hasError('badWord')">Enthält ein Schimpfwort</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Quiz"
                formControlName="quiz">
      <mat-option [value]="null">Quiz</mat-option>
      <mat-option [value]="quizOption.id" *ngFor="let quizOption of quizOptions">{{quizOption.question}}</mat-option>
    </mat-select>
    <mat-hint align="end">Das Quiz der Sage</mat-hint>
  </mat-form-field>
  <br/>
  <div>
    <app-mediainput formControlName="pictures"></app-mediainput>
  </div><br>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!taleFormGroup.valid" (click)="createTale()">
      <span *ngIf="!taleFormGroup.controls.id.value">Erstellen</span>
      <span *ngIf="taleFormGroup.controls.id.value">Aktualisieren</span>
    </button>
  </mat-card-actions>
</form>
