<form [formGroup]="taleFormGroup" class="tale-form">
  <mat-form-field>
    <input matInput type="text" placeholder="Title" formControlName="title">
    <mat-hint align="end">The title of the tale</mat-hint>
    <mat-error *ngIf="taleFormGroup.controls.title.hasError('required')">Title is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Tale Category" formControlName="type">
      <mat-option [value]="type.key"
                  *ngFor="let type of typeService.opNames | keyvalue">{{type.value}}</mat-option>
    </mat-select>
    <mat-hint align="end">Which game type do you want to play?</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput type="text" placeholder="Text" formControlName="text"></textarea>
    <mat-hint align="end">The text of the tale</mat-hint>
    <mat-error *ngIf="taleFormGroup.controls.text.hasError('required')">Text is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Quiz"
                formControlName="quiz">
      <mat-option [value]="null">Unknown</mat-option>
      <mat-option [value]="quizOption.id" *ngFor="let quizOption of quizOptions">{{quizOption.question}}</mat-option>
    </mat-select>
    <mat-hint align="end">The quiz of the tale</mat-hint>
  </mat-form-field>
  <br/>
  <div>
    <app-mediainput formControlName="pictures"></app-mediainput>
  </div><br>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!taleFormGroup.valid" (click)="createTale()">
      <span *ngIf="!taleFormGroup.controls.id.value">Create</span>
      <span *ngIf="taleFormGroup.controls.id.value">Update</span>
    </button>
  </mat-card-actions>
</form>
