<!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>-->
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>&nbsp;&nbsp;&nbsp;<i class="material-icons">meeting_room</i></ng-template>
      <h1>Wilkommen bei Edutales!</h1>
      Bei Edutales können deine Kinder ihren Enteckergeist auf einer interaktiven Landkarte ausleben und sowohl Sagen als auch geschichtliche Fakten entdecken. Auf diese Weise lernen sie spielerisch neues Wissen dazu und sind vielleicht auch ein wenig beschäftigt sodass du dir auch eine kleine Verschnaufpause im Alltag gönnen kannst!
      <br>
      <br>
      <div>
        <button mat-icon-button matStepperNext>
          <mat-icon color="accent">arrow_forward</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>&nbsp;&nbsp;&nbsp;<i class="material-icons">menu_book</i></ng-template>
      <h1>Wie kann ich loslegen?</h1>
      Bitte schick eine E-Mail an unseren Administrator an "administrator@edutales.at" um dich bei unserer Plattform zu registrieren. Im Anschluss erhälst du von ihm deine Zugangsdaten mit denen du dich auf der nächsten Seite (->) einloggen kannst. Anschließend kannst du deine persönlichen  Infos auf unsere Website eingeben.
      <br>
      <br>
      <div>
        <button mat-icon-button matStepperPrevious>
          <mat-icon color="accent">arrow_back</mat-icon>
        </button>
        <button mat-icon-button matStepperNext>
          <mat-icon color="accent">arrow_forward</mat-icon>
        </button>      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>&nbsp;&nbsp;&nbsp;<i class="material-icons">check</i></ng-template>
    <br>
    <app-login></app-login>
    <div>
      <button mat-icon-button matStepperPrevious>
        <mat-icon color="accent">arrow_back</mat-icon>
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
