<form [formGroup]="rewardFormGroup" class="reward-form">
  <mat-form-field>
    <input matInput type="text" placeholder="Name" formControlName="name" required>
    <mat-hint align="end">The name of the reward</mat-hint>
    <mat-error *ngIf="rewardFormGroup.controls.name.hasError('required')">Name is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Tale" formControlName="tale">
      <mat-option [value]="null">Tale</mat-option>
      <mat-option [value]="taleOption.id"
                  *ngFor="let taleOption of taleOptions">{{taleOption.title}}</mat-option>
    </mat-select>
    <mat-hint align="end">The title of the tale</mat-hint>
  </mat-form-field>
  <!--
  <mat-form-field>
    <mat-select placeholder="Picture" formControlName="tale">
      <mat-option [value]="null">Picture</mat-option>
      <mat-option [value]="taleOption.id"
                  *ngFor="let taleOption of taleOptions">{{taleOption.pictures}}</mat-option>
    </mat-select>
    <mat-hint align="end">The title of the tale</mat-hint>
  </mat-form-field>
    -->
  <mat-form-field>
    <mat-select placeholder="History" formControlName="history">
      <mat-option [value]="null">History</mat-option>
      <mat-option [value]="historyOption.id"
                  *ngFor="let historyOption of historyOptions">{{historyOption.title}}</mat-option>
    </mat-select>
    <mat-hint align="end">The title of the history</mat-hint>
  </mat-form-field>

  <br>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!rewardFormGroup.valid" (click)="createReward()">
      <span *ngIf="!rewardFormGroup.controls.id.value">Create</span>
      <span *ngIf="rewardFormGroup.controls.id.value">Update</span>
    </button>
  </mat-card-actions>
</form>
