<table mat-table [dataSource]="children">
  <ng-container matColumnDef="user_name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let child">{{child.user_name}}</td>
  </ng-container>
  <ng-container matColumnDef="year_of_birth">
    <th mat-header-cell *matHeaderCellDef>Year of Birth</th>
    <td mat-cell *matCellDef="let child">{{child.year_of_birth}}</td>
  </ng-container>
  <ng-container matColumnDef="game">
    <th mat-header-cell *matHeaderCellDef>Game Type</th>
    <td mat-cell *matCellDef="let child">{{child.game}}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let child">
      <button mat-button [routerLink]="'/world-map/' + child.id" color="primary">Play</button>
      <button mat-button [routerLink]="'/child-form/' + child.id">Edit</button>
      &nbsp;&nbsp;
      <button mat-button (click)="deleteChild(child)" color="warn">Delete</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="progress">
    <th mat-header-cell *matHeaderCellDef>Points out of 100</th>
    <td mat-cell *matCellDef="let child">{{child.progress}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
