<table mat-table [dataSource]="children">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let shelter">{{shelter.name}}</td>
  </ng-container>
  <ng-container matColumnDef="street">
    <th mat-header-cell *matHeaderCellDef>Street</th>
    <td mat-cell *matCellDef="let shelter">{{shelter.street}}</td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>City</th>
    <td mat-cell *matCellDef="let shelter">{{shelter.city}}</td>
  </ng-container>
  <ng-container matColumnDef="postcode">
    <th mat-header-cell *matHeaderCellDef>Postcode</th>
    <td mat-cell *matCellDef="let shelter">{{shelter.postcode}}</td>
  </ng-container>
  <ng-container matColumnDef="healthcare">
    <th mat-header-cell *matHeaderCellDef>Healthcare</th>
    <td mat-cell *matCellDef="let shelter">{{shelter.healthcare}}</td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let shelter">
      <button mat-button [routerLink]="'/shelter-form/' + shelter.id">Edit</button>
      &nbsp;
      <button mat-button (click)="deleteShelter(shelter)">Delete</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
