<mat-card align="center" *ngIf="finished" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <mat-card-title>{{tale.title}}</mat-card-title>
    <br>
  <mat-card-content>{{tale.text}}</mat-card-content>
  <br>
  <mat-card-title>{{data.quiz_question}}</mat-card-title>
</mat-card>
<br>
<!--<form [formGroup]="taleQuizGroup" class="tale-quiz" align="center" (ngSubmit)="onSubmit()">
  <mat-radio-group>
    <mat-radio-button type="radio" formControlName="isTrue" value="true">Wahr?</mat-radio-button><br><br>
    <mat-radio-button type="radio"  formControlName="isTrue" value="false">Falsch?</mat-radio-button>
  </mat-radio-group>
  <br><br>
  <div *ngIf="isSubmitted && myForm.errors?.required">
    <p>Please select either value</p>
  </div>
  <button type="submit">Submit</button>
</form>-->
<form [formGroup]="taleQuizGroup" (ngSubmit)="onSubmit()" align="center">
  <div>
    <input id="false" type="radio" class="custom-control-input" value="false" name="isTrue" formControlName="isTrue">
    <label class="custom-control-label" for="false">Falsch</label>
  </div>
<br>
  <div>
    <input id="true" type="radio" class="custom-control-input" value="true" name="isTrue" formControlName="isTrue">
    <label class="custom-control-label" for="true">Wahr</label>
  </div>

  <div *ngIf="isSubmitted && myForm.invalid">
    <p>Wähle wahr oder falsch aus um die Frage zu beantworten!</p>
  </div>
<br>
  <button type="submit">Submit</button>
</form>
