<div class="wrapper">
  <div class="page-header">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">Create Child</h3>
            <form [formGroup]="childFormGroup" class="register-form">
              <label>User Name</label>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                <input type="text" class="form-control" placeholder="User Name" formControlName="user_name" (focus)="focus=true" (blur)="focus=false" >
              </div>
              <label>Year of Birth</label>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                <input type="number" class="form-control" placeholder="Year of Birth" formControlName="year_of_birth" (focus)="focus=true" (blur)="focus=false" >
              </div>
              <br>
              <button class="btn btn-danger btn-block btn-round" [disabled]="!childFormGroup.valid" (click)="createChild()">
                <span *ngIf="!childFormGroup.controls.id">Create Child</span>
                <span *ngIf="childFormGroup.controls.id.value">Update</span>

              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
