<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/aboutUs.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img src="./assets/img/team.png" alt="Circle Image" class="img-thumbnail img-responsive">
        </div>
        <div class="name">
          <h4 class="title">Edutales<br /></h4>
          <h6 class="description">Wir sind cool!</h6>
        </div>
      </div>
    </div>
  </div>
</div>
