<mat-form-field class="example-full-width">
  <input type="text" placeholder="Pick a history" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getHistory($event)">
    <mat-option *ngFor="let history of filteredOptions | async" [value]="history.id">
      {{history.title}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<table mat-table [dataSource]="histories">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let history">{{history.title}}</td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let history">
      <button mat-button [routerLink]="'/history-form/' + history.id">Edit</button>
      <button mat-button (click)="deleteHistory(history)" color="warn">Delete</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
